.container-fluid
{
	width: 85%;
}

.jumbotron
{
	background: url('img/skyline-2k.jpg');
	border-radius: 0 !important;
	background-size: cover;
	background-position: 0 20%;
	height: 350px;
}

.jumbotron h1
{

}
