body
{
	background-color: #F7F7F7;
}

.container-fluid
{
	width: 85%;
}

.jumbotron
{
	background: url('img/skyline-web.jpg');
	border-radius: 0 !important;
	background-size: cover;
	background-position: 5% 20%;
	height: inherit;
}

header {position: relative; height: 320px;}

header h1
{
	margin: 0;
	padding: 0;
	font-family: Heading;
	font-size: 5em;
	color: #032942 !important;
	position: relative;
	top: 10%;
	left: 57%;
}

header h1.alternate
{
	top: 0;
	left: 0;
	display: none;
}

.navbar-pill
{

}